/*text meant only for screen readers*/
.screen-reader-text {
    position: relative;

}

body {
    font-family: "Montserrat", sans-serif;
    
}

/*HOMEPAGE*/
/*hero*/
.homepage-hero {
    position: relative;
    display: flex;
    height: 70vh;
    background-image: url('https://images.unsplash.com/photo-1528988719300-046ff7faf8cb?q=80&w=1031&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    text-align: centre;
    justify-content: centre;
    height: 20em;
}

.homepage-hero h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #354A21;
}

.homepage-hero p {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(146, 81, 81);
}

.homepage-hero-body {
    align-content: center;
    justify-content: center;
    margin: auto;
}

/*two column experience/skills section*/
.two-col-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 10px 30px;
}

@media (max-width:600px) {
    .two-col-section {
        grid-template-columns: 1fr;
    }
}

/*Projects section*/
.projects-section {
    padding: 3rem 0;
}

.projects-section h2 {
    text-align: center;
    margin-bottom:2rem;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.project-row {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 180px;
    border-radius: 10px;
    background-color: grey;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-decoration:none;
    padding: 0 2rem;

}

.project-row-overlay {
    position: absolute;
    inset:0;
    background: rgba(0, 0, 0, 0.75);
}

.project-row-title{
    position: relative;
    z-index: 1;
    color: white;
    font-size: 2rem;
}

.project-row-chevron {
    position:relative;
    color: white;
    font-weight: bold;
}

/*contact form*/
.contact-form-section{
    padding: 50px 20px;
}
.contact-form-section .container {
    background-color: lightgray;
    width: 500px;
    max-width: 90%;
    padding: 50px;
    margin: 0 auto;
}
.contact-form-section input, .contact-form-section textarea {
    width:100%;
    padding:12px;
    display:block;
    align-items: center;
}


/*project detail page*/
.project-detail-section {
    padding: 3rem;
}
/*navbar*/
.site-header {
    width:100%;
    background-color: #607D3B;
    
}


.logo {
    
}



.inner-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.site-nav ul li a:hover {
    background-color:#74B72E
}
.site-nav ul {
    list-style-type: none;
    display: flex;
    overflow: hidden;
    gap:1.5rem;
    margin: 0;
    padding: 0px;

}

.site-nav ul li {
    display: flex;
    
}

.site-nav ul li a {
    display:block;
    color: white;
    padding:18px 16px;
    text-decoration: none;
}

